<!DOCTYPE html>

<title>About</title>

<head>
     <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="main-content">
         {{>header}}
    
    <p>We are developers. This site is created by the help from mapbox.com and darksky.net.</p>

    </div>
   

    {{>footer}}
    
    
</body>
</html>