<!DOCTYPE html>
<title>Help</title>

<head>
     <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="main-content">
         {{>header}}
        <p1>
        
        For any help contact {{name}}.

    </p1>

    </div>

   {{>footer}}
</body>